<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>all Blogs</title>
</head>

<body>
    <header>
        <h1><a href="/blog">spring</a></h1>
        <p><a href="post">投稿</a></p>
    </header>
    <div class="search">
<form action="/search" method="post">
            <input type="text" placeholder="キーワード検索" name="search">
        </form>    </div>
    <main>
        <div class="guide">
            <p><a href="/blog">ホーム</a></p>
            <p><a href="">プロフィール</a></p>
        </div>
        <div class="center">
            <div class="detailCenter">
                <p>　</p>
                <h2>ポラーノの広場</h2>
                <p>あのイーハトーヴォのすきとおった風、夏でもそこに冷たさを持つ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。<br><br>
                    またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、山猫博士のボーガント・デストゥパーゴなど、いまこの暗い巨きな石の建物のなかで考えていると、みんなむかし風のなつかしい青い幻燈のように思われます。では、わたくしはいつかの小さなみだしをつけながら、しずかにあの年のイーハトーヴォの五月から十月までを書きつけましょう。</p>
            </div>
        </div>
    </main>


</body>

</html>