<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>all Blogs</title>
</head>

<body>
    <header th:replace="'blog' :: commonHeader"></header>
    <div class="search" th:replace="'blog' :: commonSearch"></div>
    <main>
        <div class="guide" th:replace="'blog' :: commonguide"></div>
        <div class="center">
            <div class="postCenter">
                <form action="/postblog" method="post">
                    <div class="postContents">
                        <p>　</p>
                        <p>タイトル</p>
                        <input type="text" placeholder="タイトルを入力" name="title">
                    </div>
                    <div class="postContents">
                        <p>本文</p>
                        <textarea name="mainText" id="" class="mainText" placeholder="本文を入力"></textarea>
                    </div>
                    <div class="postContents">
                        <button type="submit">保存</button>
                    </div>
                </form>


            </div>
        </div>
    </main>


</body>

</html>